*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --green: #44ffa1;

  --slate-900: #24053e;
  --slate-500: #584d62;
  --slate-100: #fcf8ff;

  --white: #ffffff;

  --header-font: "Fraunces", "Times New Roman", Times, serif;
  --body-font: "Manrope", Arial, Helvetica, sans-serif;

  --page-padding: 1.25rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Base Element Styling */
html,
body {
  overflow-x: hidden;
}

/* FONTS */
/* fraunces-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 600;
  src: url("../src/assets/fonts/fraunces-v37-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/manrope-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/manrope-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Utility Classes */
.text-preset-1 {
  font-family: var(--header-font);
  font-size: 80px;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: 0px;
}

.text-preset-2 {
  font-family: var(--header-font);
  font-size: 56px;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0px;
}

.text-preset-3 {
  font-family: var(--header-font);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0px;
}

.text-preset-4 {
  font-family: var(--body-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8em;
  letter-spacing: 0px;
}

.text-preset-5 {
  font-family: var(--body-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0px;
}

/* ****** */
/* HEADER */
/* ****** */

#header {
  padding: 2rem var(--page-padding) 0;
  background-color: var(--slate-900);
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
